extends layouts/template

block vars
  -title = 'Sprite'

block container
  h2 Icon
  h2 Text
  h2 Button
  h2 Form
  ul.list-input
    li
      +custom-input({id: 'custom-cb', label: 'Nguyen van A', type: 'checkbox'}, {'data-custom-input': 'true', 'class': 'checkbox-group'}, {checked: 'checked'}).checkbox-1
    li
      +custom-input({id: 'custom-cb-1', label: 'Nguyen van B', type: 'checkbox'}, {'data-custom-input': 'true', 'class': 'checkbox-group'}).checkbox-1
    li
      +custom-input({id: 'custom-cb-2', label: 'Nguyen van C', type: 'checkbox'}, {'data-custom-input': 'true', 'class': 'checkbox-group'}).checkbox-1
    li
      label Like:
      +custom-input({id: 'custom-rd', label: 'Facebook', type: 'radio', name: 'like-rd'}, {'data-custom-input': 'true', 'class': 'radio-group'}, {checked: 'checked'}).radio-1
      +custom-input({id: 'custom-rd-1', label: 'Twitter', type: 'radio', name: 'like-rd'}, {'data-custom-input': 'true', 'class': 'radio-group'}).radio-1
      +custom-input({id: 'custom-rd-2', label: 'Youtube', type: 'radio', name: 'like-rd'}, {'data-custom-input': 'true', 'class': 'radio-group'}).radio-1
  h2 Custom Select
  div
    +select(['Nguyen Van A', 'Nguyen Van B', 'Nguyen Van C', 'Nguyen Van D', 'Nguyen Van E', 'Nguyen Van F'], 1)#sel-fullname(name="sel-fullname", data-hl-select="true")
  br
  br
  br
  h2 Custom Select Group
  div
    +select([{label: 'Name', groupDetails: ['Nguyen Van A', 'Nguyen Van B']}, {label: 'Job', groupDetails: ['HTMl', 'Javascript'], selected: 1}])#sel-job(name="sel-job", data-hl-select="true")
  div
    +select([{label: 'Name', groupDetails: ['Nguyen Van A', 'Nguyen Van C']}, {label: 'Job', groupDetails: ['HTMl', 'Javascript'], selected: 1}])#sel-jobi(name="sel-jobi", data-hl-select="true")

